BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: ForIndentation
BreakBeforeBraces: Linux
ColumnLimit: 160
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
BreakBeforeBraces: Attach
ReflowComments: false
PointerAlignment: Left # incompatible when Align*Decl
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AlignEscapedNewlines: Left
#AlignConsecutiveMacros: true